VSCodium/
evolution/
foot/
gh/
gnome-initial-setup-done
google-chrome/
ibus/
mimeapps.list
procps/
update-notifier/
user-dirs.locale
dconf/
fish/
foot.ini
gnome-initial-setup/
goa-1.0/
gtk-3.0/
mihomo-party/
pulse/
systemd/
user-dirs.dirs
